:root {
  --color-red: #ad0101;
}

.food-item {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-star;
  justify-content: flex-end;
}

.food-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.food-info button {
  padding: 1px 12px;
  font-size: 0.9em;
}

.food-info p {
  margin: 0;
}

.title-info {
  font-weight: 900;
  color: var(--color-red);
}

.checkout-main-img {
  width: 100%;
  height: 40%;
  margin-bottom: 2em;
}

.total-price {
  color: var(--color-red);
}
.payment-label {
  font-weight: 900;
}

@media (max-width: 767px) {
  .food-info {
    display: block;
  }

  .food-info .btn {
    font-size: 0.8em;
    padding: 0 10px;
  }

  #paymentMethod-container div {
    flex-direction: column !important;
  }

  .container-fluid {
    flex-direction: row;
  }

  .cart-container {
    order: 3;
  }
}
