:root {
  --color-red: #ad0101;
  --color-white: rgb(255, 255, 255);
}

.footer {
  color: var(--color-white);
}

#google-app {
  width: 8.1rem;
  height: 3.1rem;
}

#appStore-app {
  width: 8rem;
}

.bottom-footer {
  font-size: 0.6rem;
  background-color: var(--color-red);
  padding: 0.6rem;
  text-align: center;
  color: var(--color-white);
}

.bottom-footer span {
  font-family: fantasy;
}

#heart {
  color: var(--color-red);
  font-size: 1.1em;
}
