#main-section {
  background: url('../assets/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-now {
  border-radius: 0% !important;
  font-size: 1rem;
  background-color: #c21717 !important;
  border: #ffffff 3px solid;
  padding: 0.5rem 2rem 0.5rem 2rem;
  color: #ffffff;
}

@media (max-width: 800px) {
  #main-title {
    margin-top: 14rem;
  }
}
