:root {
  --color-red: #ad0101;
  --color-white: rgb(255, 255, 255);
}

#location-container {
  margin-top: 7em;
}

#search-title {
  color: var(--color-red);
}

#location-input {
  margin-bottom: 2em;
}

.result-titles {
  color: var(--color-red);
}

#map {
  height: 47em;
  width: 100%;
}
