:root {
  --color-red: #ad0101;
}

.menu-subtitle {
  font-weight: 300;
  font-family: sans-serif;
}

.menu-image {
  width: 100%;
  margin-top: 3em;
}

.food-items img {
  width: 7rem;
  height: 5rem;
  transition: 0.3s ease-in-out;
}

.food-items:hover {
  cursor: pointer;
  color: var(--color-red);
  transform: scale(1.2, 1.2);
  transition: 0.3s ease-in-out;
}

.btn.guide {
  background-color: var(--color-red);
  border-radius: 0;
  border: solid 2px var(--color-red);
}

.btn.guide:hover {
  background-color: #ffffff;
  color: var(--color-red);
  border-radius: 0;
}

@media (min-width: 881px) and (max-width: 1220px) {
  .menu-image {
    height: 12rem;
  }
}

@media (min-width: 280px) and (max-width: 880px) {
  .menu-image {
    height: 5rem;
  }
}

@media (max-width: 575px) {
  .food-items img {
    width: 9rem;
    height: 7rem;
  }

  .guide {
    margin-left: 2em;
  }
}
